{% extends 'blank_layout.html' %}
{% block navbar %}
{% include 'navbar3.html' %}
{% endblock navbar %}
{% block content %}
{% load static %}
 <br><br><br><br><br><br>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Registration Form</title>
     <link rel="stylesheet" href="{% static 'css/add_candidate.css' %}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>CANDIDATE REGISTRATION FORM</h2>
        
        <!-- Personal Details -->
        <fieldset>
            <legend><h4>PERSONAL DETAILS</h4></legend>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" maxlength="100" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" maxlength="100" required>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" maxlength="12" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" maxlength="30" required>

            <label for="adharNo">Aadhar Number:</label>
            <input type="text" id="adharNo" name="adharNo" maxlength="12" required>

            <label for="hname">House Name:</label>
            <input type="text" id="hname" name="hname" maxlength="100" required>

            <label for="state">State:</label>
            <input type="text" id="state" name="state" maxlength="30" required>

            <label for="district">District:</label>
            <input type="text" id="district" name="district" maxlength="30" required>

            <label for="taluk">Taluk:</label>
            <input type="text" id="taluk" name="taluk" maxlength="30" required>

            <label for="village">Village:</label>
            <input type="text" id="village" name="village" maxlength="30" required>

            <label for="pincode">Pincode:</label>
            <input type="text" id="pincode" name="pincode" maxlength="10" required>
        </fieldset>

        <!-- Participation Information -->
        <fieldset>
            <legend><h4>PARTICIPATION INFORMATION</h4></legend>
            <label for="part_afiliation">Party Affiliation:</label>
            <input type="text" id="part_afiliation" name="part_afiliation" maxlength="20" required>

            <label for="profile_image">Profile Image:</label>
            <input type="file" id="profile_image" name="profile_image">

            <label for="symbol">Symbol Image:</label>
            <input type="file" id="symbol" name="symbol">
        </fieldset>
     
        <center><button type="submit">Submit</button></center>
    </form>
</body>
</html>

 

{% endblock content %}
{% block footer %}  
{% endblock footer %}
