{% extends 'blank_layout.html' %}
{% block navbar %}
{% include 'navbar2.html' %}
{% endblock navbar %}
{% block content %}
{% load chunks %}
{% load static %}
  <br><br><br><br>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CWadmin Form</title>
      <link rel="stylesheet" href="{% static 'css/add_admin.css' %}">
  </head>
  <body>
   <div id="message-container">
      <center>
          {% if messages %}
              {% for message in messages %}
                  <p class="{{message.tags}}">{{ message }}</p>
              {% endfor %}
          {% endif %}
      </center>
  </div>
      <div class="main">
        <h2>Create CWadmin Profile</h2>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="form-group">
            <div>
              <label for="fname">First Name:</label>
              <input type="text" id="fname" name="fname" maxlength="30" required>
            </div>
            <div>
              <label for="lname">Last Name:</label>
              <input type="text" id="lname" name="lname" maxlength="30" required>
            </div>
          </div>
         
          
          <div class="form-group">
             
          <div>
            <label for="adno">Aadhar No:</label>
            <input type="text" id="adno" name="adno" maxlength="12" required>
          </div>
            <div>
              <label for="state">State:</label>
              <input type="text" id="state" name="state" maxlength="20" required>
            </div>
          </div>
  
          <div class="form-group">
            <div>
               <label for="constituency">Constituency:</label>
               <select id="constituency" name="constituency" required>
                   {% for constituency in constituencies %}
                       <option value="{{ constituency.id }}">{{ constituency.name }}</option>
                   {% endfor %}
               </select>
             </div>
             <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" maxlength="50" required>
              </div>
          </div>
          
          <div class="form-group">
            <div>
               <label for="phone">Phone:</label>
               <input type="text" id="phone" name="phone" maxlength="10" required>
             </div>
     
             <div>
               <label for="image">Profile Image:</label>
               <input type="file" id="image" name="image" accept="image/*">
             </div>
          </div>
  <br><br>
          <button type="submit">Submit</button>
        </form>
      </div>

      <div class="container">
       {% for chunk in admin|chunks:1 %}
       <div class="row">
           {% for c in chunk %}
           <div class="block">
               <div class="content">
                  <p>{{ c.fname  }} {{c.lname}}</p>
                   <p>{{ c.state }}, {{c.constituency}}</p>
                   
               </div>
               <div class="button-container"> 
                  <a href="{% url 'cwDetails' c.id %}"><img class="pic" src="{{ c.image.url }}" alt="image"> </a>               
               </div>
           </div>
           
           {% endfor %}
       </div>
       {% endfor %}
   </div>
      <script>
         document.addEventListener('DOMContentLoaded', function() {
             const messageContainer = document.getElementById('message-container');
             
             if (messageContainer) {
                 setTimeout(function() {
                     const messages = messageContainer.querySelectorAll('p');
                     messages.forEach(function(message) {
                         message.style.transition = 'opacity 1s ease';
                         message.style.opacity = '0';
                     });
                 }, 3000);
             }
         });
     </script>
  </body>
  </html>
  
{% endblock content %}
{% block footer %}  
{% endblock footer %}
