{% extends 'blank_layout.html' %}

{% block navbar %}
{% include 'navbar2.html' %}
{% endblock navbar %}

{% block content %}
{% load chunks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/constituency.css' %}">
</head>
<body>
   <div class="container">
       {% for chunk in con|chunks:2 %}
       <div class="row">
           {% for c in chunk %}
           <div class="block">
               <div class="content">
                   <p>{{ c.state }}</p>
                   <p>{{ c }}</p>
               </div>
               <div class="button-container">
                <a href="{% url 'delete_c' c.id %}">
                    <button type="button">DELETE</button>
                  </a>                  
               </div>
           </div>
           {% endfor %}
       </div>
       {% endfor %}
   </div>

   <div class="add">
  <div class="black" >
    <span style="color: white;">ADD CONSTITUENCY</span>
  </div>
   <div class="data">
    <form action="" method="post">
        {% csrf_token %}
    <input type="text" name="state" required placeholder="STATE">
    <input type="text" name="con" required placeholder="CONSTITUENCY">
    <button type="submit">ADD</button>
    </form>
   </div>
   </div>
</body>
</html>
  
{% endblock content %}

{% block footer %}  
{% endblock footer %}
