{% load static %}
<nav>
    <img class="home" src="{% static 'images/zero.png' %}" alt="ivpe">
    <div class="pos">
    <ul>
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'det_of_cand' %}">CANDIDATES</a></li>
        {% if  user.is_authenticated %}
        <li><a href="{% url 'check_password' %}">VOTE</a></li>
        {% endif %}
        {% if  user.is_authenticated %}
        <li><a href="{% url 'view_result' %}">RESULT</a></li>
        {% endif %}
        <li><a href="{% url 'help' %}">HELP</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">REGISTER</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
        {% if  user.is_authenticated %}
        <li><a href="logout">LOGOUT</a></li>
        {% endif %}
        
    </ul>
</div>
</nav>