{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    
    <div id="div2" class="register1">
        <div class="color">
            <span class="reg">REGISTER</span>
        </div>
        <div class="in1">
            <form action="" method="post" id="form2">
                {% csrf_token %}
                <input type="text" name="adhar" placeholder="Enter OTP">
                <button class="button" type="submit"><span style="color: white;">SUBMIT</span></button>
                <button id="bt1" type="submit"><span style="color: white;">RESEND</span></button>
            </form>
        </div>
    </div>

</body>
</html>
{% endblock content %}
