{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <style>

.error
{    
    position: absolute;
    top: 20%;
    left: 38%;
    width: 280px;
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
    padding: 15px;
    border-radius: 5px; 
    font-family: Arial, sans-serif;
    font-size: 14px; 
    margin: 10px 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

    </style>
</head>
<body>
    <div class="{{ message.tags }}">
        <center>
            {% if messages %}
            {% for message in messages %}
             <p class="{{ message.tags }}">{{ message }}</p>
             {% endfor %}
        {% endif %}
        </center>
    </div>
    <div id="div1" class="register">
        <div class="color">
            <span class="reg">REGISTER</span>
        </div>
        <div class="in">
            <form action="" method="post" id="form1">
                {% csrf_token %}
                <input type="text" name="adhar" placeholder="Adhar Number" required>
                <button  type="submit"><span style="color: white;">SEND OTP</span></button>
            </form>
        </div>
    </div>
     
</body>
</html>
{% endblock content %}
