{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div id="div1" class="register">
        <div class="color">
            <span class="reg">REGISTER</span>
        </div>
        <div class="in">
            <form action="" method="post" id="form1">
                {% csrf_token %}
                <input type="text" name="adhar" placeholder="Adhar Number" required>
                <button  type="submit"><span style="color: white;">SEND OTP</span></button>
            </form>
        </div>
    </div>
     
</body>
</html>
{% endblock content %}
